{% extends "layout.html" %}

{% block title %} <title>video-search</title> {% endblock %}

{% block body %}
	
	<div>
		<form action="{{ url_for('search') }}" method="POST">
			<dl>
				<dt>Search Query:  <input type="text" name="search_query">
			</dl>
		</form>
	</div>
	
	<div>
		{% if video_playing %}
			<p>Current Video Playing</p>
			<!-- You can play with the object video_playing_obj and extract anything -->
			<img src = "{{ video_playing_obj.videoInfo.snippet.thumbnails.default.url }}" >
			<h3>{{ video_playing_obj.videoInfo.id }}</h3>
		{% else %}
			<p>Click on some video to play it!</p>
		{% endif %}
	</div>

	<div>
		<ul>
			{% for result in results %}
				<img src = "{{ result.videoInfo.snippet.thumbnails.default.url }}" >
				<li><a href="{{ url_for('play_video', video_id=result.videoInfo.id) }}">{{ result.videoInfo.id }}</a><br>{{ result.videoInfo.snippet.title }}</li>
			{% else %}
				<p> Come on, search something!</p>
			{% endfor %}
		</ul>
		
	</div>

{% endblock %}